# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.pytest_cache/

# Node
node_modules/
dist/
build/
.npm
.eslintcache

# OS
.DS_Store
Thumbs.db

# Generated Reports and Database
*.doc
*_code.md
project_full.md
*.db
